{% extends 'index.html' %}


{% block content %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<br><br>
<div class="contenedor" >
    <h1>Gracias por estar en tierra de grandes</h1>

                <p>Al registrarte, aceptas nuestras Condiciones  de uso y Política de privacidad.</p>
                <p>¿quieres volver a iniciar? <a class="link" href="{% url 'login' %}">INICIA SESION</a></p>
                <a class="btn btn-primary" href="{% url 'Form' %}">Inicio </a>
        
        
</div>
                 


</body>
</html>


{% endblock %}

</body>
</html>