{% extends 'index.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    


{% load crispy_forms_tags %}


 <br><br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    
                    <div class="card-body12">
                        <h2>Agregar un Producto</h2>
                        <hr>
                        <form action="" method="post" enctype="multipart/form-data">
                    
                        {% csrf_token %}
                        {{ formulario | crispy }}
                        <div class="d-felx justify-content-end">
                        <a class="btn btn-primary" href="{% url 'inicio' %}">Cancelar</a>
                         &nbsp;
                        <input type="submit" value="Guardar" class="btn btn-primary ">
                    </div>
                </form>
                {{mensaje}}
            </div>
        </div>
    </div>
</div>   

    
</body>
</html> 

{% endblock %}