{% extends 'Form.html' %}

{% block content %}

{% for post in product %}	
	<div class="containerl2">
			
	<div class="card">
        <h2 class="post">{{  post.user.username  }}</h2>
		<img src="{{post.image.url}}" width="100%">
		<h2 class="post">{{ post.nombre }}</h2>
		<p class="post">{{ post.descripcion }}</p>
		<p class="post">{{ post.precio}}</p>
		
        <button><a class="follow-button" href="{ url 'editar_Producto' post.user }">Edita tu Producto</a></button>

        
		
	</div>


</div>
{% endfor %}





{% endblock %}